@using Microsoft.AspNetCore.Components.Routing
@inject IJSRuntime JS

<div class="bottom-nav" role="navigation" aria-label="Bottom navigation">
    <NavLink class="tab" ActiveClass="selected" href="/" Match="NavLinkMatch.All">
        <div class="tab-content" aria-hidden="true">
            <FluentIcon Value="@(new Icons.Regular.Size20.Home())" />
            <span>Home</span>
        </div>
    </NavLink>

    <NavLink class="tab" ActiveClass="selected" href="counter" Match="NavLinkMatch.Prefix">
        <div class="tab-content" aria-hidden="true">
            <FluentIcon Value="@(new Icons.Regular.Size20.NumberSymbolSquare())" />
            <span>Counter</span>
        </div>
    </NavLink>

    <NavLink class="tab" ActiveClass="selected" href="weather" Match="NavLinkMatch.Prefix">
        <div class="tab-content" aria-hidden="true">
            <FluentIcon Value="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" />
            <span>Weather</span>
        </div>
    </NavLink>
</div>

<script>
    window.__nfctag_markAndroidBottomNav = () => {
        try {
            document.body.classList.add('page-with-bottom-nav');

            if (/Android/i.test(navigator.userAgent)) {
                document.querySelector('.bottom-nav')?.classList.add('android');
                document.body.classList.add('page-with-bottom-nav-android');
            }
        } catch (e) {
            console && console.debug && console.debug('nfctag mark android failed', e);
        }
    };
</script>

@code {
    private bool _initialized;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_initialized)
        {
            _initialized = true;
            try
            {
                await JS.InvokeVoidAsync("__nfctag_markAndroidBottomNav");
            }
            catch
            {
            }
        }
    }
}
